<!doctype html>
<html lang="en">
<head>

<script src="js/jquery.js"></script>
<script type="text/javascript" src="record.json"></script>
<script type="text/javascript">

	// get the person variable for switching website
	var foundperson = '{{person}}';
	function switchTo() {
		if (foundperson =="") {
			alert("we didnt jump")
		} else{
			window.location="http://127.0.0.1:5000/content";
			// setTimeout(switchBack(),20000);
		}
	}
	
	function switchBack() {
		window.location="http://127.0.0.1:5000/index";
	}
	switchTo()

</script>


<title>Universe</title>
<meta charset="utf-8">


</head>

<body>

<h1>Hello</h1>
<input type="button" value="Ajax提交" onclick="Ajax();" />
</body>

<html>
