<html>
<head>
</head>
<body>
    <p id="value">dd</p>
    <p id="data"></p>
    <script src="https://github.com/op-en/animera.js/releases/download/v2.2.0/animera.js" data-autobind="https://op-en.se"></script>

    <script type="text/javascript" src="animeraWidget.js"></script>

<script type="text/javascript">
    var consumptiondata = [];

    AnimeraWidget.init({
        server: 'https://op-en.se',
        topic: 'test/roy/plug/20',
        // subproperty: "averagekWh",
        outputRange: [0.1, 10]
    }).then(function (objects) {
        var settings = objects.settings;
        var controller = objects.animera.getController(settings.server);
        controller.bindTopicToHtml(document.getElementById("value"), settings);

        controller.bindTopicToCallback(function(data){
            // var nowtime = new Date();
            // var mytime=nowtime.toLocaleTimeString();
            // var myday=nowtime.toLocaleDateString();
            consumptiondata.push(data);
            // consumptiondata.push({consumption:numdata2,time:mytime,day:myday});
            // var str = JSON.stringify(consumptiondata, null, 2);
            document.getElementById("data").innerHTML = consumptiondata;
        },settings)

    })


</script>

<br>

</html>