<html>
<head>  
</head>
<body>
<script src="jquery.js"></script>
<script type="text/javascript">

    var array1 = {"DeviceId":17,"DeviceName":"QSCO2_17","DeviceType":"urn:schemas-upnp-org:device:BinaryLight:1","OldWatts":0,"RoomId":0,"RoomName":"No Room","ServiceId":"urn:micasaverde-com:serviceId:EnergyMetering1","Time":1516116562,"Variable":"Watts","Watts":452}

    var blobObject = null;

    function createDownloadLink(anchorSelector, str, fileName){
    
        if(window.navigator.msSaveOrOpenBlob) {
            var fileData = [str];
            blobObject = new Blob(fileData);
            $(anchorSelector).click(function(){
                window.navigator.msSaveOrOpenBlob(blobObject, fileName);
            });
        } else {
            var url = "data:text/plain;charset=utf-8," + encodeURIComponent(str);
            $(anchorSelector).attr("href", url);
        }
    }   

    $(function () {
        var str = "hi,dinesh";
        createDownloadLink("#export",str,"dinesh.txt");
    });



    // download(array1, 'myfilename.txt', 'text/plain');

// function(filename, data) {
//     var blob = new Blob([data], {type: 'text/csv'});
//     if(window.navigator.msSaveOrOpenBlob) {
//         window.navigator.msSaveBlob(blob, filename);
//     }
//     else{
//         var elem = window.document.createElement('a');
//         elem.href = window.URL.createObjectURL(blob);
//         elem.download = filename;        
//         document.body.appendChild(elem);
//         elem.click();        
//         document.body.removeChild(elem);
//     }
// }

// function(filename,text){
//     // Set up the link
//     var link = document.createElement("a");
//     link.setAttribute("target","_blank");
//     if(Blob !== undefined) {
//         var blob = new Blob([text], {type: "text/plain"});
//         link.setAttribute("href", URL.createObjectURL(blob));
//     } else {
//         link.setAttribute("href","data:text/plain," + encodeURIComponent(text));
//     }
//     link.setAttribute("download",filename);
//     document.body.appendChild(link);
//     link.click();
//     document.body.removeChild(link);
// }

</script>

<a id="export" class="myButton" download="" href="#">export</a>

</html>